html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background:url("../images/curve.png") no-repeat -1230px -210px, linear-gradient(to bottom, #d7ad49 800px, #fff 1050px);
    line-height: 1;
    font-family: "Gothic";
    min-width: 420px;
    user-select: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin: .3em 0;
    margin-top: 0;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin: .25em 0;
    margin-top: 0;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: .2em 0;
    margin-top: 0;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin: .15em 0;
    margin-top: 0;
}

h5 {
    font-size: 1.1em;
    font-weight: bold;
    margin: .1em 0;
    margin-top: 0;
}

p {
    margin-bottom: .5em;
}

b {
    font-weight: bold;
}

.btn:active, .btn:focus {
    outline: none; !important;
    border: 0; !important;
    box-shadow: none; !important;
}

[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 0.8em/1.8 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(630deg);
    transition: all linear 0.25s;
    float: right;
    padding-left: 0.5em;
}

[data-toggle="collapse"].collapsed:after {
    transform: rotate(90deg) ;
}

@font-face {
    font-family: Gothic;
    src: url(../fonts/GOTHIC.TTF);
}

@font-face {
    font-family: Ruslan;
    src: url(../fonts/RuslanDisplay.ttf);
}

@font-face {
    font-family: Jura;
    src: url(../fonts/Jura-Regular.ttf);
}

@font-face {
    font-family: JuraBold;
    src: url(../fonts/Jura-Bold.ttf);
}

.hidden {
    display: none;
}

.container {
    color: #7A391D;
}

.logo {
    text-align: center;
}

.logo img {
    height: 130px;
}

.menu {
    text-align: center;
}

.menu div {
    font-size: 0.9em;
}

.nav {
    display: inline-block;
    margin: auto;
    padding-top: 20px;
}

.nav a {
    font-family: JuraBold;
    text-decoration: underline;
    color: #fff;
    margin-bottom: .5em;
    display: block;
    margin-right: 3px;
}

.nav a:hover {
    color: #000;
}

.nav a img {
    height: .9em;
}

.whatsapp {
    height: 1em;
}

.right-col a {
    display: block;
    text-align: left;
}

.map-link img {
    height: 60px;
}

.tube-link img {
    height: 35px;
}

.vk-link img {
    height: 50px;
}

header .telephone {
    color: #fff;
    display: inline-block;
    font-family: Gothic;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 5px;
}

.map_point2 {
    display: block;
    text-align: center;
}

.map_point2 img {
    height: 100px;
}

.download-list {
    color: #fff;
    background-color: rgba(0,0,0,.2);
    font-family: Gothic;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    text-align: center;
}

.download-list div {
    padding: 5px;
    border: white 2px solid;
    display: inline-block;
    border-radius: 10px;
}

.download-list a {
    color: #fff;
    text-decoration: underline;
}

.download-list img {
    height: 1em;
    width:  25px;
    margin-right: 10px;
}

.download-list ul,
.download-list h3,
.download-list span {
    text-align: center;
}

.download-list span {
    display: block;
    font-size: 0.6em;
}

.banner {
    background-color: #82b5ee;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    white-space: nowrap;
}

.banner p {
    font-family: Gothic;
    font-weight: bold;
    color: #7a391d;
    text-align: center;
    text-shadow: white 2px 2px 1px, white -2px -2px 1px, white -2px 2px 1px, white 2px -2px 1px;
    /*padding-bottom: .5em;*/
    white-space: nowrap;
}

.form {
    background-color: #82b5ee;
    border-radius: 15px;
    margin: auto;
    margin-top: 2em;
    padding: .5em;
    font-family: Gothic;
    text-align: center;
    min-width: 270px;
}

.form h2 {
    font-weight: normal;
}

.form form {
    margin: auto;
}

.form input,
.form textarea {
    margin-bottom: .5em;
    min-width: 250px;
}

.form input[type=file] {
    font-size: .8em;
}

.form input[type=submit] {
    background-color: #ffed00;
    cursor: pointer;
}

.item {
    margin: auto;
    margin-top: 3em;
}

.item img {
    height: 1.5em;
}

.item h3 {
    text-align: center;
}

.scrolltop_button {
    display: none;
    width: 63px;
    height: 60px;
    background: url("/assets/images/up.png") no-repeat top left;
    opacity: .5;
    position: fixed;
    left: 20px;
    bottom: 20px;
}


@media (min-width: 768px) {
    .map-link img {
        height: 95px;
    }

    .tube-link img {
        height: 50px;
    }

    .vk-link img {
        height: 70px;
    }

    .logo img {
        height: 250px;
    }

    .nav a,
    header .telephone,
    .whatsapp {
        font-size: 1.5em;
    }

    .telephone {
        font-size: 1.6em;
    }

    body {
        background: url("../images/curve.png") no-repeat -1080px -130px, linear-gradient(to bottom, #d7ad49 800px, #fff 1050px);
    }
}

.sales_block {
    text-align: center;
    margin-top: 2em;
}

.sales_button {
    background-color: #77b942;
    color: white;
    font-weight: bold;
}

.sales {
    border-radius: 10px;
    padding: .3em;
}

@media (min-width: 1000px) {
    .download-list {
        font-size: 1.5em;
    }
}